<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.nature.NatureMapper">

    <resultMap id="nature" type="com.pandawork.common.entity.nature.Nature" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="path" column="path"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="addNature">
        INSERT INTO `t_nature`
        (`name`, `content`,`path`)
        VALUES (#{nature.name},#{nature.content},
         #{nature.path})
    </insert>

    <update id="update">
        UPDATE `t_nature`
        SET `name` = #{nature.name},
            `content` = #{nature.content},
            `path` = #{nature.path},
            `status` = #{nature.status}
        WHERE `id` = #{nature.id}
    </update>

    <update id="update2">
        UPDATE `t_nature`
        SET  `status` = 1
        WHERE `id` = #{id}
    </update>

    <update id="update3">
        UPDATE `t_nature`
        SET  `status` = 0
        WHERE `id` = #{id}
    </update>

    <delete id="delById">
        DELETE FROM `t_nature`
        WHERE `id` = #{id}
    </delete>


    <select id="listAll" resultMap="nature">
        SELECT *
        FROM `t_nature`
    </select>

    <select id="listAll2" resultMap="nature">
        SELECT *
        FROM `t_nature`
        WHERE `status` = 1
    </select>

</mapper>