<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- appender -->
    <appender name="console_appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>
	
    <appender name="monitor_appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/boman/monitor.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n" />
		</layout>
	</appender>	
	
	<appender name="biz_file_appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/boman/biz.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH:mm:ss}] %c - %m%n" />
		</layout>
	</appender>	
	
	<appender name="stdout_file_appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/boman/stdout.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH:mm:ss}] %c - %m%n"/>
		</layout>
	</appender>	
	
	<appender name="sql_file_appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/boman/sql.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH:mm:ss}] %c - %m%n"/>
		</layout>
	</appender>	
	
	<appender name="error_file_appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/boman/stderr.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d{HH:mm:ss}] %c - %m%n"/>
		</layout>
	</appender>	
	
	<!-- loggers    -->
    <logger name="bizLog" additivity="true">
    	<level value="debug" />
    	<appender-ref ref="console_appender" />
    </logger>
    
    <logger name="monitor" additivity="true">
    	<level value="debug" />
    	<appender-ref ref="console_appender" />
    </logger>
    
    <logger name="errorLog" additivity="true">
    	<level value="debug" />
    	<appender-ref ref="console_appender" />
    </logger>
 
	<!-- sysout log -->
    <logger name="sysout" additivity="true">
    	<level value="debug" />
    	<appender-ref ref="console_appender" />
    </logger>
    
    <logger name="sqlLog" additivity="true">
    	<level value="debug" />
    	<appender-ref ref="console_appender" />
    </logger>
	<root>
		<level value="info"/>
		<appender-ref ref="console_appender"/>
	</root>
    
</log4j:configuration>
