<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nenusoftware.onlineexam.mapper.paperdetail.PaperDetailMapper">

    <resultMap id="PaperDetail" type="com.nenusoftware.onlineexam.entity.paperdetail.PaperDetail">
        <id property="paperDetailId" column="paperDetailId"/>
        <result property="paperId" column="paperId"/>
        <result property="exerciseId" column="exerciseId"/>
        <result property="content" column="content"/>
        <result property="typeA" column="typeA"/>
        <result property="typeB" column="typeB"/>
        <result property="typeC" column="typeC"/>
        <result property="typeD" column="typeD"/>
        <result property="answer" column="answer"/>
        <result property="answer2" column="answer2"/>
        <result property="answer3" column="answer3"/>
        <result property="exerciseType" column="exerciseType"/>
        <result property="score" column="score"/>
    </resultMap>

    <select id="listAllPaperDetail" resultMap="PaperDetail">
        SELECT *
        FROM `t_paperdetail`
    </select>

    <select id="listPaperDetailByPaperId" resultMap="PaperDetail">
        SELECT *
        FROM t_paperdetail, t_paper
        WHERE t_paperdetail.paperId = #{paperId} AND t_paper.paperId = #{paperId}
    </select>

    <insert id="addPaperDetail">
        INSERT INTO t_paperdetail
        ( `content`, `typeA`, `typeB`, `typeC`, `typeD`, `answer`,`answer2`,`answer3`, `exerciseType`, `score`)
        VALUES
        (#{paperDetail.content}, #{paperDetail.typeA}, #{paperDetail.typeB}, #{paperDetail.typeC}, #{paperDetail.typeD}, #{paperDetail.answer},#{paperDetail.answer2},#{paperDetail.answer3}, #{paperDetail.exerciseType}, #{paperDetail.score})
    </insert>

    <delete id="deletePaperDetail">
        DELETE FROM t_paperdetail
        WHERE paperDetailId = #{paperDetailId}
    </delete>

    <update id="updatePaperDetail">
        update t_paperdetail
        SET content = #{paperDetail.content}, typeA = #{paperDetail.typeA}, typeB = #{paperDetail.typeB}, typeC = #{paperDetail.typeC}, typeD = #{paperDetail.typeD}, answer = #{paperDetail.answer}, answer2 = #{paperDetail.answer2}, answer3 = #{paperDetail.answer3}, score = #{paperDetail.score}
        WHERE paperDetailId = #{paperDetail.paperDetailId}
    </update>

    <select id="queryPaperDetail" resultMap="PaperDetail">
        SELECT *
        FROM t_paperdetail
        WHERE `content` LIKE #{keyWord} OR `exerciseType` LIKE #{keyWord}
    </select>

    <select id="queryExerciseByTypes" resultMap="PaperDetail">
        SELECT *
        FROM t_paperdetail
        WHERE `exerciseType` = #{exerciseType}
    </select>

    <select id="queryExerciseItemsById" resultMap="PaperDetail">
        SELECT `typeA`, `typeB`, `typeC`, `typeD`
        FROM t_paperdetail
        WHERE t_paperdetail.paperDetailId = #{paperDetailId}
    </select>

    <select id="queryQuestion" resultMap="PaperDetail">
        SELECT *
        FROM t_paperdetail
        WHERE t_paperdetail.paperDetailId = #{paperDetailId}
    </select>

    <select id="queryIdByContent" resultMap="PaperDetail">
        SELECT `paperDetailId`
        FROM t_paperdetail
        WHERE t_paperdetail.content = #{content}
    </select>

</mapper>